# Building and Comparing Decision Trees

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

In [1]:
#Rebuild Original Table for Modeling

In [6]:
aisles = pd.read_csv('aisles.csv')

In [7]:
departments = pd.read_csv('departments.csv')

In [8]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [9]:
order_products__train = pd.read_csv('order_products__train.csv')

In [10]:
orders = pd.read_csv('orders.csv')

In [11]:
products = pd.read_csv('products.csv')

In [12]:
order_products__prior_df = pd.merge(order_products__prior, products, on='product_id', how='left')
order_products__prior_df = pd.merge(order_products__prior_df, aisles, on='aisle_id', how='left')
order_products__prior_df = pd.merge(order_products__prior_df, departments, on='department_id', how='left')
order_products__prior_df = pd.merge(order_products__prior_df, orders, on='order_id', how='left')
order_products__prior_df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,dairy eggs,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,produce,202279,prior,3,5,9,8.0
2,2,9327,3,0,Garlic Powder,104,13,spices seasonings,pantry,202279,prior,3,5,9,8.0
3,2,45918,4,1,Coconut Butter,19,13,oils vinegars,pantry,202279,prior,3,5,9,8.0
4,2,30035,5,0,Natural Sweetener,17,13,baking ingredients,pantry,202279,prior,3,5,9,8.0

In [14]:
#Extract from main table numerical data only (no strings/object-type data)
order_products__prior_df_mod = order_products__prior_df.drop(['product_name', 'aisle', 'department', 'eval_set'], axis=1)
order_products__prior_df_mod.head()

,order_id,product_id,add_to_cart_order,reordered,aisle_id,department_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,86,16,202279,3,5,9,8.0
1,2,28985,2,1,83,4,202279,3,5,9,8.0
2,2,9327,3,0,104,13,202279,3,5,9,8.0
3,2,45918,4,1,19,13,202279,3,5,9,8.0
4,2,30035,5,0,17,13,202279,3,5,9,8.0

In [15]:
order_products__prior_df_mod2 = order_products__prior_df_mod.dropna()

In [16]:
#This is the first table we will build a decision tree off of
final = order_products__prior_df_mod.drop(['order_id', 'product_id', 'aisle_id', 'department_id', 'user_id'], axis=1)

final.head()

,add_to_cart_order,reordered,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,1,3,5,9,8.0
1,2,1,3,5,9,8.0
2,3,0,3,5,9,8.0
3,4,1,3,5,9,8.0
4,5,0,3,5,9,8.0

In [18]:
X = final.drop('reordered', axis = 1)  #reordered is target valuet
y = final['reordered']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
# param_grid = [{'max_depth': [3, 5, 7, 9, 11]}]

# tree_classififer = DecisionTreeClassifier()

# grid_search = GridSearchCV(tree_classififer, param_grid, cv = 5, scoring = 'neg_mean_squared_error')

# grid_search.fit(X_train, y_train)

# #Getting best estimator directly. Inputting results in refit Decision Tree model.
# grid_search.best_estimator_

Moving on to the second table to compare tree prediction performance with that run with the first table.

In [ ]:
final['order_number*days_since_prior_order'] = final['order_number']*final['days_since_prior_order']

In [ ]:
final['order_number*reordered'] = final['order_number']*final['reordered']

In [ ]:
final['add_to_cart_order2'] = final['add_to_cart_order'] + 15

In [ ]:
final['order_dow2'] = final['order_dow'] + 8

In [ ]:
final['order_hour_of_day2'] = final['order_hour_of_day']*.5
final.head()